body {
  position: relative;
}

.hide {
  display: none;
}

.app-logo {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  background: rgba(251, 251, 251, 0.66);
}
.app-logo img{
  height: 5rem;

}
.jumbotron {
  background-image: url(../img/dunkirkBanner.jpg);
  height: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 !important;
}
.notification {
  position: absolute;
  width: 100%;
  left: 0;
  background: rgba(8, 8, 8, 0.37);
}
.notification-wrapper {
  height: 30%;
  width: 40%;
  top: 35%;
  position: absolute;
  left: 30%;
  background: #e6ecec;
  border: 1px solid #7b7b7b;
  border-radius: 1rem;
  padding: 4rem;
  z-index: 99;
}
.notification-wrapper p{
  height: 70%;
  font-size: 2.5rem;
  text-align: center;
  padding: 2rem;
}
.notification-wrapper button{
  height: 3rem;
  width: 6rem;
  border-radius: 1rem;
  border-color: #909090;
  margin-left: 40%;
}
.logInPageWrapper {
    text-align: center;
    margin: 5rem;
    font-size: 2rem;
    background: #e8e8e8;
    padding: 5rem;
    border: 1px solid #ccc;
}
.logInPageWrapper button{
    font-size: 2rem;
    width: 40%;
    height: 5rem;
    border-radius: 1rem;
}
.logInPageWrapper input{
    text-align: left;
    width: 40%;
    margin-left: 30%;
    height: 5rem;
    border-radius: 1rem;
    border: 1px solid #bdbcbc;
    background: #f1f1f1;
    font-size: 2rem;
}
.createAccountBtn, .login-page-btn {
    font-size: 1.5rem !important;
    width: 30% !important;
}
hr {
  border-top: 1px dashed #949494;
}
.page-title{
    color: #585656;
    padding-bottom: 2rem;
    font-weight: bold;
}








