body {
  position: relative;
}
.app-logo {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  background: rgba(251, 251, 251, 0.66);
}
.app-logo img{
  height: 5rem;

}
.jumbotron {
  background-image: url(../img/dunkirkBanner.jpg);
  height: 30rem;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 !important;
}
#signLogBtn {
  text-align: right;
}
#signLogBtn button{

}
#signLogBtn button:hover{

}

.content {

}


#signUp {
  text-align: center;
}
#logIn {
  text-align: center;
}
