body {
  position: relative;
}

.hide {
  display: none;
}

.app-logo {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  background: rgba(251, 251, 251, 0.66);
  z-index: 999;
}
.app-logo img{
  height: 5rem;

}
.jumbotron {
  background-image: url(../img/dunkirkBanner.jpg);
  height: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 !important;
  position: relative;
}
.notification {
  position: absolute;
  width: 100%;
  left: 0;
  top:0;
  background: rgba(8, 8, 8, 0.37);
}
.notification-wrapper {
  height: 30%;
  width: 40%;
  top: 35%;
  position: absolute;
  left: 30%;
  background: #e6ecec;
  border: 1px solid #7b7b7b;
  border-radius: 1rem;
  padding: 4rem;
  z-index: 99;
}
.notification-wrapper p{
  height: 70%;
  font-size: 2.5rem;
  text-align: center;
  padding: 0;
}
.notification-wrapper button{
  height: 3rem;
  width: 6rem;
  border-radius: 1rem;
  border-color: #909090;
  margin-left: 40%;
}
.logInPageWrapper {
    text-align: center;
    margin: 5rem;
    font-size: 2rem;
    background: #e8e8e8;
    padding: 5rem;
    border: 1px solid #ccc;
}
.logInPageWrapper button{
    font-size: 2rem;
    width: 40%;
    height: 5rem;
    border-radius: 1rem;
}
.logInPageWrapper input{
    text-align: left;
    width: 40%;
    margin-left: 30%;
    height: 5rem;
    border-radius: 1rem;
    border: 1px solid #bdbcbc;
    background: #f1f1f1;
    font-size: 2rem;
}
.createAccountBtn, .login-page-btn {
    font-size: 1.5rem !important;
    width: 30% !important;
}
hr {
  border-top: 1px dashed #949494;
}
.page-title{
    color: #585656;
    padding-bottom: 2rem;
    font-weight: bold;
}
.row{
  /*padding: 5rem 0;*/
}
.posterName {
  font-size: 1.7rem;
  font-weight: bold;
}
.book-movie {
    width: 100%;
    height: 5rem;
    font-size: 2rem;
    background: #12b7bd;
    color: #fff;
    border: 1px solid #065a5d;
}
.book-movie:hover {
    background: #158e92;
}
.thumbnail {
  margin-bottom: 0;
  margin-top: 20px;
}
.dateInfo{
  width: 100%;
  height: 5.5rem;
  overflow: hidden;
  background: #ececec;
  padding: 0.5rem;
  margin-top: 1rem;
}
.dateInfo li {
    float: left;
    list-style: none;
    width: 43px;
    height: 43px;
    text-align: center;
    margin: 1px;
    border-radius: 8px;
    color: #000;
    padding: 2px;
}
.dateInfo li:hover {
    color: #49ba8e;
}

.liSelected, .liSelected:hover {
    background: #49ba8e !important;
    color: #fff !important;
    border: 1px solid #33ca8f !important;
}

.movieInfo {
  width: 100%;
  height: auto;
  margin: 3% 0;
  overflow: hidden;
  background: #ececec;
  padding: 3rem 1px;
}

.movieInfo::after {
  clear:both;
}

.movieInfo li {
  list-style: none;
  border: 1px solid #ccc;
  float: left;
  margin-right: 4%;
  width: 70px;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  line-height: 38px;
  background: #fff;
  color: #2c88fb;
  font-size: 1.3rem;
}

.movieInfo p{
  font-size: 1.4rem;
  font-weight: bold;
}

.theaterName, .movieTime{
  margin-bottom: 3rem;
}

hr {
  border-color: #afacac;
  width: 100%;
}

.movieDetailTitle {
  height: 20%;
  top: 73%;
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.32);
  color: #fff !important;
  font-variant-caps: small-caps;
  font-weight: 200;
  line-height: 4rem;
  padding-left: 2%;
}

.movieDetailTitle:hover {
  text-decoration: underline;
}

.wrapper {
  position: relative;
}

.seat {
  height: 100%;
  top: 0;
}

.notification-seat-wrapper {
  position: absolute;
  width: 60%;
  top: 10%;
  height: 75%;
  left: 20%;
  background: #fff;
  border: 3px solid #20aab1;
  border-radius: 1rem;
  padding: 10rem;
  text-align: center;
}

.notification-seat-wrapper i img{
  width: 7rem;
  text-align: center;
  margin-top: 5%;
}

.screen {
  margin-top: 5%;
  width: 60%;
  height: 10%;
  line-height: 26px;
  margin-left: 20%;
  background-color: #20aab1;
  color: white;
}
iframe{
  width:100%;
  overflow: hidden;
  height: 851.891px;
  border: none;
}
.app-logo span{
  float: right;
  padding: 0 1rem;
}
.app-logo p{
  font-size: 16px;
  padding: 1.1rem;
  font-weight: 500;
  margin: 0;
  display: inline-block;
}
.app-logo p strong{
    font-style: italic;
    text-transform: capitalize;
}
.warning {
    border-color: red;
}
#SliderWrapper {
    position:relative;
}
#slider {
    height:200px;
}
#slider img {
    width:100%;
    height:100%;
    display:none;
    top:0;
    position:absolute;
}
#nav a{
    position: absolute;
    top: 50%;
}
#nav .right{
  right: 0;
}
#nav .left{
  left: 0;
}
.footer {
  background: #333338;
  color: #666;
  text-align: center;
  padding: 1rem;
  font-size: 1.1rem;
  margin-top: 5rem;
}
.footer p{
  margin: 0;
}
